LANGSMITH_API_KEY="YOUR LANGSMITH API KEY"
LANGSMITH_TRACING=true
LANGSMITH_PROJECT='YOUR PROJECT NAME'
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LLM_MODEL  = qwen3:latest
LLM_TEMPERATURE=0.0
LLM_MAX_TOKENS=2048
LLM_KEEP_ALIVE=30m
LLM_THINK=false
OPENAI_BASE_URL=http://localhost:11434/v1
OPENAI_BASE_URL=http://YOUR_SERVER_IP:11434/v1 #when we host it
